.intro {
    display: inline-flex;
    align-items: stretch;
    background-color: #d1f8f9a6;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

.introLogoContainer, .body, .linksCard {
    margin: 0.5rem;
}

.introLogoContainer {
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 0.75rem;
}

.introLogo {
    height: 9rem;
    width: auto;
}

.body {
    display: inline-flex;
    flex-flow: column;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 0.75rem;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

.introLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body h2 {
    display: flex;
    margin: 0.66rem 0;
    align-items: center;
}

.body img {
    width: 2.33rem;
    height: auto;
    padding-right: 0.33rem;
}

.linksCard {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 0 0.25rem;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

.linksLogo {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.linksCard h2 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.linksCard a {
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.75rem;
    transition: background-color 0.2s;
}

.personalLink1:hover {
    background-color: #32ff003d;
}

.personalLink2:hover {
    background-color: #dcff003d;
}

.personalLink3:hover {
    background-color: #00ffe142;
}

.personalLink4:hover {
    background-color: #ee00ff24;
}