.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./greyscalesplash.png");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-wrap: nowrap;
}

.contactMe {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: #ffffffa1;
}